# project temp files 
data/
output/

# secrets 
.env
.env.*

# virtual env 
.venv/
venv/

# python project 
bin/
lib/
__pycache__/
*.py[cod]
*$py.class

# jupyter 
.ipynb_checkpoints

# docker 
docker-compose.override.yml
.docker/

# logs
*.log

# system files 
.DS_Store
Thumbs.db
